.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 10%);
  backdrop-filter: blur(5px);
}

#tag {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -100%);
  border-radius: 3%;
  background: #393E46;
  overflow: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buttonOptions {
  height: 3rem;
  color: white;
  background: #393E46;
  border-style: none;
  text-decoration: none;
  text-align: center;
}

.closeButton {
  background: #393E46;
  border: none;
  color: whitesmoke;
  cursor: pointer
}

.underlineDiv {
  width: 100%;
  height: 1px;
  background: whitesmoke;
  margin-bottom: 5px;
  margin-top: 5px;
}

.tag-content-window {
  display: flex;
  flex-direction: column;
  margin: 5%;

}

.header-tags {
  display: flex;
  justify-content: space-between;
}

.filterBox{
  background: #393E46;
  border: none;
  color: whitesmoke;
  cursor: pointer
}

.filterContainer{
  display: flex;
  align-items: center;
  width: 100%;

}



@media (width >= 703px) {
  #tag {
    width: 250px;
    height: 250px;
  }

  .windows-font-size {
    font-size: 20px;
  }

  .buttonOptions {
    font-size: 16px;
  }
}

@media (width >= 978px) {
  #tag {
    width: 300px;
    height: 300px;
  }

  .windows-font-size {
    font-size: 24px;
  }

  .buttonOptions {
    font-size: 18px;
  }
}
