<div class="blur-background">
  <div #tag id="tag">
    <div class="tag-content-window">
      <div class="header-tags">
        <span style="font-weight: bold" class="windows-font-size">Tags</span>
        <button class="material-symbols-outlined closeButton" (click)="closeComponent()">close</button>
      </div>
      @for (tag of activeTagsSignal(); track tag) {
        <div class="filterContainer">
          <button class="material-symbols-outlined filterBox" (click)="disableTag(tag)">check_box</button>
          <button (click)="disableTag(tag)" class="buttonOptions windows-font-size">{{ tag }}</button>
        </div>
      }
      @if (activeTagsSignal().length > 0) {
        <div class="underlineDiv"></div>
      }
      @for (tag of disabledTagsSignal(); track tag) {
        <div class="filterContainer">
          <button class="material-symbols-outlined filterBox" (click)="activateTag(tag)">check_box_outline_blank
          </button>
          <button (click)="activateTag(tag)" class="buttonOptions windows-font-size">{{ tag }}</button>
        </div>
      }
    </div>
  </div>
</div>
