.div-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button-layer{
  margin-top: 1rem;
  width: 80%;
}

button {
  background: #393E46;
  color: whitesmoke;
  width: 10%;
  height: 2rem;
  cursor: pointer;
  text-decoration: none;
  border-radius: 1%;
  border-style: none;
  transition: transform 2s;
}

button:hover {
  background: #727C8C;

}
