.div-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button-layer{
  display: flex;
  margin-top: 1rem;
  width: 80%;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

button{
  min-height: 32px;
}

.button {
  background: #393E46;
  font-size: 20px;
  color: whitesmoke;
  height: 2rem;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 1%;
  border-style: none;
  transition: transform 2s, background 0.3s;
}

#buttonReset{
  border-style: none;
  background: #393E46;
  color: whitesmoke;
  cursor: pointer;
  transition: transform 2s, background 0.3s;
}

#buttonReset:hover{
  background: #727C8C;
}

.active-filter-container{
  display: flex;
}

.active-filter-button{
  background: #333333;
  color: whitesmoke;
  border-style: none;
}

.active-filter-container span{
  display: flex;
  background: #393E46;
  align-items: center;
}
.active-filter-container span button{
  background: #393E46;
  cursor: pointer;
}

.filterBox{
  background: #333333;
  color: red;
  border: none;
  cursor: pointer
}

.button:hover {
  background: #727C8C;
}

@media (width >= 843px) {
  .button{
    font-size: 24px;
  }
  .responsiveSize{
    font-size: 22px;
  }
}

@media (width >= 972px) {
  .button{
    font-size: 28px;
  }
  .responsiveSize{
    font-size: 18px;
  }
}
